<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SeleniumTestSuite" verbose="1">
    <test name="ProductSearchTests">
        <classes>
            <class name="com.solvd.selenium.tests.ProductSearchTest" />
        </classes>
    </test>
</suite>